body{background-color: #e9ebee;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;}
img{max-width: 100%}
label{font-weight: 600}
.navbar.navbar-inverse.navbar-fixed-top{box-shadow:0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);border:none;margin-bottom:0;height:70px;z-index: 4;}
.navbar .navbar-right{    margin-right: 17px;}
.navbar.navbar-inverse{background:#fff}
.navbar.navbar-inverse.navbar-fixed-top .nav-header{float: left;background:#fff;border-right:1px solid #fff;width:250px;padding-left:17px;height:70px;-webkit-transition:.4s ease;-moz-transition:.4s ease;transition:.4s ease;overflow:hidden}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap{width:250px;padding: 12.5px 0;}
a{text-decoration:none;color:#272B34}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap a{display: table}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-img{margin-right:10px;position:relative;width:45px;height:45px;object-fit:cover;}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-text{display:inline-block;color:#222;font-weight:600;font-size:18px;position:relative;line-height:18px;width:181px;overflow:hidden;vertical-align: middle;text-transform:uppercase;opacity:1;visibility:visible}
.navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-text::after{content:'';position:absolute;right:0;top:0;width:50px;height:100%;background:-moz-linear-gradient(left,rgba(255,255,255,0.3),#fff 100%);background:-webkit-linear-gradient(left,rgba(255,255,255,0.3),#fff 100%);background:-o-linear-gradient(left,rgba(255,255,255,0.3),#fff 100%);background:-ms-linear-gradient(left,rgba(255,255,255,0.3),#fff 100%);background:linear-gradient(to right,rgba(255,255,255,0.3),#fff 100%)}

a.toggle-left-nav-btn,a#toggle_mobile_nav,a#toggle_mobile_search{color:#727272;position:relative;line-height:85px}
a.toggle-left-nav-btn i,a#toggle_mobile_nav i,a#toggle_mobile_search i{font-size:21px;vertical-align:middle}
.ml-20{margin-left:20px!important}
a.toggle-left-nav-btn i,a#toggle_mobile_nav i,a#toggle_mobile_search i{font-size:21px;vertical-align:middle}
.ti-align-left:before{content:"\e6c2"}
.navbar.navbar-inverse.navbar-fixed-top .top-nav-search{padding-top:25px;width:320px;margin-left:25px}
.navbar.navbar-inverse.navbar-fixed-top .top-nav-search .input-group{width:100%}
.navbar.navbar-inverse.navbar-fixed-top .top-nav-search .input-group input{border:none;height:36px;background:#fff;padding-left:30px}
.navbar.navbar-inverse.navbar-fixed-top .top-nav-search .input-group .input-group-btn{position:absolute;left:0;top:8px;z-index:4}
.ti-search:before{content:"\e610"}
.mobile-only-brand .navbar-search{display:inline-block;line-height:70px;width:300px;position:relative}
.mobile-only-brand input[type="search"]{width:100%;height:36px;border-radius:25px!important;-webkit-border-radius:25px!important;border:none;box-sizing:border-box;-webkit-box-sizing:border-box;font-weight:400;font-size:12px;color:#000;padding-top:2px;padding-left:12px;background-color:#e6e6e6;padding-right:40px}
.mobile-only-brand input:focus{outline:0;outline-offset:0;}
.mobile-only-brand .search-button{    position: absolute;
    top: 18px;
    right: 0px;
    cursor: pointer;
    background: #269ffd;
    border: none;
    z-index: 3;
    width: 35px;
    height: 35px;
    padding: 4px 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 50px;}
.mobile-only-brand .search-button:after{position:absolute;top:50%;margin-top: -14px;line-height:30px;font-family:FontAwesome;content:"\f002";left: 50%;
    margin-left: -6px;
    color: #fff;}

.navbar.navbar-inverse.navbar-fixed-top .nav > li > a{color:#727272;background:transparent!important;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease;padding:0 9px;line-height:70px}
.navbar.navbar-inverse.navbar-fixed-top .nav.top-nav > li{display:inline-block;float:left}
.navbar.navbar-inverse.navbar-fixed-top .nav > li.dropdown{position:relative}
.pr-0{padding-right:0!important}
.navbar.navbar-inverse.navbar-fixed-top .nav > li > a .user-auth-img{height:45px;width:45px;vertical-align:middle}
.navbar.navbar-inverse.navbar-fixed-top .nav > li > a .user-online-status{background:#4dad44;border-radius:50%;bottom:21px;height:10px;border:2px solid #fff;position:absolute;right:0;width:10px}




.fixed-admin-nav{position:fixed;top:70px;left:0;width:250px;margin-left:0;bottom:0;z-index:3;border:none;box-shadow:0 3px 30px rgba(0,0,0,.1), 0 3px 20px rgba(0,0,0,.1);-webkit-transition:all .4s ease;-moz-transition:all .4s ease;transition:all .4s ease}
.fixed-admin-nav .label{padding:3px 6px;font-size:11px;border-radius:50px;text-transform:capitalize;font-weight:400;line-height:inherit}
.fixed-admin-nav .pull-right{position:absolute;right:30px}
.fixed-admin-nav .navbar-nav{border:none;overflow-y:auto;width:auto;height:100%;position:relative;border-radius:0;margin:0;background-color:#fff;backface-visibility:hidden}
.fixed-admin-nav .scroll{position:relative;overflow:hidden;width:auto;height:100%}
.fixed-admin-nav .navbar-nav{background:#fff;padding-left:0;padding-top:15px;}
.fixed-admin-nav .navbar-nav ul{padding-left:0;margin-bottom:20px}
.fixed-admin-nav .navbar-nav li{width:250px;list-style:none;color:#fff}
.fixed-admin-nav .navbar-nav li:hover{background:rgba(233, 235, 238, 0.5)}
.fixed-admin-nav .navbar-nav li a{position:relative;padding:12px 30px;color:#666;text-decoration:none}
.fixed-admin-nav .navbar-nav li a:hover{color: #2a6496}
.fixed-admin-nav .navbar-nav .navigation-header:hover{background:none}
.fixed-admin-nav .navbar-nav .navigation-header span{height: 30px;font-size:11px;color:#adadad;font-weight:600;padding:10px 30px 5px;display:block;text-transform:uppercase}
.fixed-admin-nav .navbar-nav li i{color:#888;font-size:16px;width:18px;position:relative;margin-right:15px!important}

.fixed-admin-nav .navbar-nav .collapse-lvl-1 li a {
    padding: 12px 34px;
}
.fixed-admin-nav .arrow-r-lmenu:before{font-family:FontAwesome;content:"\f105";color:#222}
.fixed-admin-nav .collapse-lvl-1 li a:before{font-family:FontAwesome;content:"\f111 ";color:#888;font-size:5px;vertical-align:middle;padding-right:28px}


.admin-content{min-height: calc(100vh - 60px);display: table;width: 100%;padding: 70px 30px 50px 280px;position:relative;background:#e9ebee;-webkit-transition:all .4s ease;-moz-transition:all .4s ease;transition:all .4s ease;left:0}
.admin-content h2{font-size:14px;margin: 30px 0 10px;}
.admin-content .breadcrumb{padding:0;margin-bottom:0;margin-top:30px;float:right;list-style:none;background-color:#e9ebee;border-radius:4px}
.admin-content .breadcrumb a{color:#272B34;opacity:.5}
.admin-content .breadcrumb>.active{color:#272B34}
.admin-content hr{margin-top:5px;margin-bottom:20px;border-top:1px solid #d7d7d7}
.admin-content .dropdown-item-edit{top:25px;right:-12px;left:auto;width:150px}

.c_p_company{display:table;width:100%;min-width: 900px;}
.c_p_company .wide{float:right;width:20%;font-size:14px;color:#666}
.c_p_company .wide .box{padding:10px;box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);    background: #fff;margin-bottom:20px}

.c_p_company .wide .number{margin-bottom:10px}

.c_p_company .wide .item{margin-bottom:10px}
.c_p_company .wide .item:last-child{margin-bottom: 0}
.c_p_company .wide .link{margin-bottom:10px}
.c_p_company .wide .help .title{padding-bottom:20px;border-bottom:1px solid #ddd;margin-bottom:20px;display:table;width:100%}
.c_p_company .wide .help .title h2{font-size:16px;font-weight:600;margin:0}
.c_p_company .wide .help .item .name a{color:#2986c7}
.c_p_company .rmenu{margin-bottom: 20px;margin-top: 20px;}
.c_p_company .rmenu ul{margin:0;padding:0}
.c_p_company .rmenu li{list-style-type:none;padding:5px 20px}
.c_p_company .rmenu li:hover{background:#f5f6f7}
.c_p_company .rmenu .within{padding:5px 0 0}
.c_p_company .rmenu .within li{padding:5px 10px}
.c_p_company .rmenu .within a{color:#666}


.wide_title{padding: 10px 10px 20px;border-bottom:1px solid #ddd;margin-bottom:20px;display:table;width:100%}
.wide_title .left{width:50%;float:left}
.wide_title h2{font-size:16px;font-weight:600;margin:0}
.wide_title .right{width:50%;float:left;font-size:14px;line-height:14px;color:#666;text-align:right}
.wide_title .button-edit{cursor:pointer;z-index:3;width:102px;height:30px;padding:7px 14px;margin-left:25px;font-size:14px;background:#0095eb;color:#fff;border-radius:5px;text-align:center;vertical-align:-webkit-baseline-middle}
.wide_title .right .button-edit a{color:#fff!important}
.wide_title .right .link-cat{color: #666}

.undefined_item{
    display: table;
    padding: 0 10px;
    margin-bottom: 10px;
}
.undefined_item .item .name a {
    color: #2986c7;
}

.wide-cat{
    margin-bottom: 10px;
}
.wide-cat h2{font-size:16px;font-weight:600;margin: 0}
.wide-cat .item{width:100%;position: relative;padding: 10px;border-bottom:1px solid #ddd;display:inline-flex}
.wide-cat .item:last-child{border-bottom: none}
.wide-cat .item:hover{    background: #efefef80;}
.wide-cat .item .image{background:#ddd;min-width: 40px;width: 40px;height: 40px;margin-right:10px;}
.wide-cat .item img{width: 40px;height: 40px;object-fit:cover;}

.wide-cat .item .info{width:90%;position:relative}
.wide-cat .info .block{width:100%;display:table}
.wide-cat .info .additionally{position: absolute;bottom: 0;left: 0}
.wide-cat .info .name{font-size:14px;line-height: 16px;font-weight:600;color:#333;margin-bottom:0;max-height: 32px;overflow: hidden;margin-bottom: 20px;}

.wide-cat .info .additionally span a{color: #2986c7}

.wide-cat .info .quantity_cat{color:#666;margin-top:3px;font-size:12px;line-height:14px}
.wide-cat .info .quantity_cat span{color:#888;font-weight:600}
.wide-cat .info .quantity {
    color: #666;
    margin-top: 3px;
    font-size: 12px;
    line-height: 14px;
}
.wide-cat .info .quantity span {
    font-weight: 600;
}


.wide-cat .sub_item{width:100%; background: #efefef80;}
.wide-cat .sub_item .arrows-v:hover{background:#fff}
.wide-cat .sub_item .item{border:none}
.wide-cat .sub_item .item:last-child{border-bottom:1px solid #ddd}
.wide-cat .sub_item .item .image{min-width:40px;width:40px;height:40px;float:left}
.wide-cat .sub_item .item img{width:40px;height:40px}


.c_p_company .narrow{float:left;width:80%;padding-right:20px}
.c_p_company .narrow .box{padding:10px;background:#fff;margin-bottom:20px;box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);}
.c_p_company .narrow .setting h2{padding-left: 20%;font-size:16px;font-weight:600;padding-bottom:10px;border-bottom:1px solid #ddd;margin-bottom:30px}
.c_p_company .narrow .setting{width:50%;margin:0 auto}
.c_p_company .narrow .setting .group-edit-row{display:flex;vertical-align:middle;width:100%;margin-bottom:20px}
.c_p_company .narrow .setting .edit-label{display:inline-block;margin: auto;vertical-align: middle;width:20%;padding-right:20px;color:#333;font-size:14px;font-weight:400;line-height:18px;text-align:right}
.c_p_company .narrow .setting .field{display: inline-block;margin: auto;vertical-align: middle;width:80%}
.c_p_company .narrow .setting .field input{background-color:#fff;width:100%;height:36px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#797979;padding-left:5px}
.c_p_company .narrow .setting textarea{background-color:#fff;width:100%;height:68px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#797979;padding-left:5px}
.c_p_company .narrow .setting select{background-color:#fff;width:100%;height:36px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#797979;padding-left:5px}
.c_p_company .narrow .setting hr{border-bottom:1px solid #ddd;border-top: none;margin:30px 0}
.c_p_company .narrow .setting .button-save{width:35%;height:36px;display:block;line-height:36px;text-align:center;background-color:#2278dd;color:#fff;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;padding:0 5px}
@media screen and (max-width: 1400px) {
    .c_p_company .narrow .setting{width:75%}
}
.narrow_title{padding:10px 10px 20px;border-bottom:1px solid #ddd;margin-bottom:20px;display:table;width:100%}
.narrow_title .left{width:50%;float:left}
.narrow_title h2{font-size:16px;font-weight:600;margin:0}
.narrow_title .right{width:50%;float:left;font-size:14px;line-height:14px;color:#666;text-align:right}
.narrow_title .button-edit{cursor:pointer;z-index:3;width:102px;height:30px;padding:7px 14px;margin-left:25px;font-size:14px;background:#0095eb;color:#fff;border-radius:5px;text-align:center;vertical-align:-webkit-baseline-middle}
.narrow_title .right .button-edit a{color:#fff!important}

.sections .section_input{background-color:#fff;width:100%;height:36px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#797979;padding-left:5px}
.sections .button-save{width:35%;height:36px;margin-top:20px;display:block;line-height:36px;text-align:center;background-color:#2278dd;color:#fff;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;padding:0 5px}



.portfolio{display:table;width:100%}

.portfolio .item{width:32.333%;margin:0 .5% 15px;position:relative;padding-bottom:15px;border-bottom:1px solid #ddd;float:left;display:table}
.portfolio .item .image{background:#ddd;width:100%;height:145px;margin-bottom:15px}
.portfolio .item img{width:100%;height:145px;object-fit:cover}
.portfolio .item .info{width:100%;padding:0 10px 40px;position:relative}
.portfolio .info .block{width:100%;display:table}
.portfolio .info .name{font-size:14px;font-weight:600;color:#333;height:20px;overflow:hidden;margin-bottom:10px}
.portfolio .info .offer{height: 60px;overflow: hidden}
.portfolio .info .additionally{position:absolute;left:10px;bottom:0}
.portfolio .info .date{color:#666;margin-bottom:5px;font-size:12px;line-height:12px}
.portfolio .info .date span{color:#888;font-weight:600}
.portfolio .info .status{position:absolute;right:10px;bottom:0}
.portfolio .status .active{color:#5cb85c}
.portfolio .status .eae:before{font-family:FontAwesome;content:"\f06e"}
.portfolio .status .sign{margin-right:5px}
.portfolio .status .none{color:#e62e04}
.portfolio .star:before{font-family:FontAwesome;color:#fec107;content:"\f005"}
.portfolio .trash:before{font-family:FontAwesome;color:#e62e04;content:"\f014"}
.portfolio .action{position:absolute;right:10px;background:#fff;padding:10px 5px;top:0}
.portfolio .action .dropdown-item-edit{top:30px;right:-10px}
.portfolio .action .edit:before{font-family:FontAwesome;color:#666;content:"\f141"}


.pricelist .block{margin-bottom:40px;display:table;width:100%;border:1px solid #ddd}
.pricelist .block .head_list{font-weight:600}
.pricelist .block .head_list .item{border-bottom:none}
.pricelist .block .item{width:100%;padding:15px;display:table;position:relative;border-bottom:1px solid #ddd}
.pricelist .block .item:hover{background:#e9ebee}
.pricelist .block .item:last-child{border-bottom:none}
.pricelist .block .item .name{width:75%;float:left;padding-right:40px}
.pricelist .block .item .unit{width:10%;float:left;padding-right:10px;text-align:center}
.pricelist .block .item .price{width:10%;float:left;text-align:center}
.pricelist .block .item.add{color:#ddd}
.pricelist .block .item.add .name{color:#0095eb}
.pricelist .action{float:left;width:5%;text-align:right}
.pricelist .action .edit:before{font-family:FontAwesome;color:#666;content:"\f141"}
.pricelist .action .arrows:before{font-family:FontAwesome;padding:0 3px;color:#888;content:"\f07d";font-weight:400}


.faq .block{width:100%;display:table;margin-bottom:40px;border:1px solid #ddd}
.faq .block .head_faq{padding:15px;width:100%;display:table}
.faq .block .head_faq .name{width:80%;font-weight:600;float:left;font-size:15px;padding-right:40px}
.faq .block .head_faq .action{float:left;width:20%;text-align:right}
.faq .block .head_faq .action .arrows:before{font-family:FontAwesome;padding:0 3px;color:#888;content:"\f07d";font-weight:400}
.faq .block .item{width:100%;padding:15px;display:table;position:relative;border-bottom:1px solid #ddd}
.faq .block .item:hover{background:#e9ebee}
.faq .block .item:last-child{border-bottom:none}
.faq .block .item .left{width:80%;float:left}
.faq .block .item .left .name{color: #2986c7}
.faq .block .item .info{margin-top:20px}
.faq .block .item .right{width:20%;float:left}
.faq .action{text-align:right}
.faq .action .edit:before{font-family:FontAwesome;color:#666;content:"\f141"}



.production h2{font-size:16px;font-weight:600;margin: 0}
.production .item{width:100%;position: relative;padding: 10px;border-bottom:1px solid #ddd;display:inline-flex}
.production .item:hover{background-color:#f7f7f7}
.production .item .image{background:#ddd;min-width:80px;width:80px;height:80px;margin-right:15px}
.production .item img{width:100%;height:100%;object-fit:cover}

.production.medium .item .image{background:#ddd;min-width:60px;width:60px;height:60px;margin-right:15px}
.production.medium .item img{width:60px;height:60px;object-fit:cover}

.production .sub_item{width:100%}
.production .sub_item .arrows-v:hover{background:#fff}
.production .sub_item .arrows-v:before{font-family:FontAwesome;color:#666;content:"\f07d";left:0;font-weight:400;cursor:pointer;line-height:40px;text-align:center;width:40px;display:table}
.production .sub_item .item{border:none}
.production .sub_item .item:last-child{border-bottom:1px solid #ddd}
.production .sub_item .item .image{min-width:40px;width:40px;height:40px;float:left}
.production .sub_item .item img{width:40px;height:40px}

.production .item .info{width:70%;padding-right:30px;position:relative}
.production .info .block{width:100%;display:table;margin-bottom: 20px}
.production .info .additionally{position:absolute;left:0;bottom:0}
.production .info .name{font-size:14px;line-height: 16px;font-weight:600;color:#333;}
.production .info .offer{color: #666}
.production .info .quantity{color:#666;margin-top:3px;font-size:12px;line-height:14px}
.production .info .quantity span{color:#888;font-weight:600}
.production .info .additionally span a{color: #2986c7}
.production .info .additionally .site{color:#666;margin-top:5px;font-size:12px;line-height:12px}
.production .info .additionally .site a{color: #2986c7;font-weight: 600}
.production .info .type{color:#666;margin-top:3px;font-size:12px;line-height:14px}
.production .info .type span{color:#888;font-weight:600}
.production .info .quantity_cat{color:#666;margin-top:3px;font-size:12px;line-height:14px}
.production .info .quantity_cat span{color:#888;font-weight:600}
.production .info .price{color:#666;margin-bottom:5px}
.production .info .price span{color:#333;font-weight:600}
.production .info .article{color:#666;margin-bottom:10px}
.production .info .article span{color:#333;font-weight:600}
.production .info .date{color:#666;margin-top:5px;font-size:12px;line-height:12px}
.production .info .date span{color:#888;font-weight:600}

.production .item .info_goods{width:70%;padding-right:30px;position:relative}
.production .info_goods .block{width:100%;display:table}
.production .info_goods .name{font-size:14px;font-weight:600;color:#333;float:left;line-height:14px;height:28px;overflow:hidden;width:70%;padding-right:40px}
.production .info_goods .quantity{color:#666;margin-bottom:10px}
.production .info_goods .quantity span{color:#333;font-weight:600}
.production .info_goods .type{color:#666}
.production .info_goods .price{color:#666;float:left;width:30%;text-align:right}
.production .info_goods .price span{color:#333;font-weight:600}
.production .info_goods .additionally{position:absolute;left:0;bottom:0}
.production .info_goods .p_category{color:#666;margin-bottom:5px;font-size:12px;line-height:12px}
.production .info_goods .p_category span{color:#888;font-weight:600}
.production .info_goods .date{color:#666;font-size:12px;line-height:12px}
.production .info_goods .date span{color:#888;font-weight:600}

.production .status{font-size:14px;width:15%;position: relative}
.production .status .sign{margin-right:5px;color:#666}
.production .status .none{color:#e62e04}
.production .status .active{color:#5cb85c}
.production .status .activeStar{color:#fec107}
.production .star:before{font-family:FontAwesome;content:"\f005"}
.production .search:before{font-family:FontAwesome;content:"\f002";}
.production .search.one:before{color: #fec107}
.production .search.all:before{color: #5cb85c}
.production .search:hover .helperstatus{display: block}
.production .text:before{font-family:FontAwesome;content:"\f036";}
.production .text.one:before{color: #fec107}
.production .text.all:before{color: #5cb85c}
.production .text:hover .helperstatus{display: block}
.limittext{max-height: 140px;
    overflow: hidden;
    display: block;margin-bottom: 15px;}
.status .helperstatus{display:none;position:absolute;min-width: 200%;font-size:13px;left:-20%;top:25px;background:#fff;border:1px solid #e6e6e6;border-radius:3px;z-index:10;padding:7px 10px}
.status .helperstatusname{font-weight:500}
.status .cover:before{font-family:FontAwesome;content:"\f03e";color:#7b57e8}
.status .youtube:before{font-family:FontAwesome;content:"\f16a";color:#ff0000}
.production .trash:before{font-family:FontAwesome;color:#e62e04;content:"\f014"}
.production .status .eae:before{font-family:FontAwesome;content:"\f06e"}
.production .iclose:before{font-family:FontAwesome;content:"\f00d"}
.production .action{text-align:right;width:10%}
.production .action .edit:before{font-family:FontAwesome;color:#666;content:"\f141"}
.production .button-edit{cursor:pointer;z-index:3;width:102px;height:30px;padding:7px 14px;margin-left:25px;font-size:14px;background:#0095eb;color:#fff;border-radius:5px;text-align: center;vertical-align: -webkit-baseline-middle;}



.production .sort{display:table;width:100%}
.production .sort .left{float:left;width:50%}
.production .sort .right{float:left;width:50%;text-align:right}
.production .sort a{color:#0095eb}
.production .sort a.active{color:#333}
.production .page_cat{padding:5px 10px;margin-bottom:15px;background:#f8f8f8}

.production .sort_block{width:100%;display:table;margin-bottom:25px;padding:0 10px}
.production .sort_block .category{padding-right:20px;display:table;float:left}
.production .sort_block .category .left{float:left;width:120px;padding-right:10px}
.production .sort_block .category .right{float:left;width:135px}
.production .sort_block .category .sort_select{border: 1px solid #ccc;color:#0095eb;width:100%;height:28px;border-radius:3px;margin-top: -5px}
.production .sort_block .category .sort_select:focus,.sort_block .category .sort_select:hover{box-shadow:none;outline:none;box-sizing:border-box}
.production .sort_block .price{padding-right: 20px;float:left}
.production .sort_block .price .left{float:left;width:50px}
.production .sort_block .price .right{float:left;width:200px}
.production .sort_block .price input{border:1px solid #ccc;border-radius:3px;width:90px;padding:0 5px;margin-top:-5px;height:28px}

.production .sort .sort_button{float: left}
.production .sort .sort_button .button{
    padding: 3px 7px;
    margin-top: -5px;
    border-radius: 3px;
    font-size: 14px;
    height: 28px;
    border: 1px solid #ccc;
    color: #0095eb;
}
.production .sort .sort_button .button:hover{
    background: #cfeaff;
}


.tizers h2{font-size:16px;font-weight:600;margin:0}
.tizers .item{width:100%;position:relative;padding:10px;border-bottom:1px solid #ddd;display:inline-flex}
.tizers .item:hover{background-color:#f7f7f7}
.tizers .item .image{background:#ddd;min-width:45px;width:45px;height:45px;margin-right:15px}
.tizers .item img{width:45px;height:45px;object-fit:cover}
.tizers .item .info{width:70%;padding-right:30px;position:relative}
.tizers .info .name{font-size:14px;line-height: 16px;font-weight:600;color:#333;margin-bottom:10px}
.tizers .info .additionally {
    position: absolute;
    left: 0;
    bottom: 1px;
}
.tizers .info .desc{color:#666;margin-top:5px;font-size:12px;line-height:12px}
.tizers .status{font-size:14px;width:15%}
.tizers .status .sign{margin-right:5px}
.tizers .status .none{color:#e62e04}
.tizers .status .active{color:#5cb85c}
.tizers .star:before{font-family:FontAwesome;color:#fec107;content:"\f005"}
.tizers .search:before{font-family:FontAwesome;content:"\f002"}
.tizers .trash:before{font-family:FontAwesome;color:#e62e04;content:"\f014"}
.tizers .status .eae:before{font-family:FontAwesome;content:"\f06e"}
.tizers .iclose:before{font-family:FontAwesome;content:"\f00d"}
.tizers .action{text-align:right;width:10%}
.tizers .action .edit:before{font-family:FontAwesome;color:#666;content:"\f141"}
.tizers .button-edit{cursor:pointer;z-index:3;width:102px;height:30px;padding:7px 14px;margin-left:25px;font-size:14px;background:#0095eb;color:#fff;border-radius:5px;text-align:center;vertical-align:-webkit-baseline-middle}

.pagination{margin:40px 0 10px}
.pagination>li>a,.pagination>li>span{padding:6px 12px;color:#0095eb}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:#27a0fd}






/*.cp_edit .title{padding-bottom:10px;border-bottom:1px solid #ddd;margin-bottom:30px;display:table;width:100%}
.cp_edit .title h2{font-size:16px;font-weight:600;margin:0}*/

.cp_edit .form-control{height:36px}
.cp_edit input{background-color:#fff;width:100%;height:36px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#222;padding-left:5px;}
.cp_edit input::-webkit-input-placeholder {color:#666;}
.cp_edit input::-moz-placeholder          {color:#666;}/* Firefox 19+ */
.cp_edit input:-moz-placeholder           {color:#666;}/* Firefox 18- */
.cp_edit input:-ms-input-placeholder      {color:#666;}
.cp_edit .button-box input[type="checkbox"] + span,input[type="radio"] + span{-webkit-appearance:none;width:14px;height:14px;border:1px solid rgba(0,0,0,.3);outline:none;margin:3px 5px 3px 0;box-sizing:border-box;display:inline-block}
.cp_edit .button-box input[type="checkbox"]:checked + span:before{content:"";display:block;width:9px;height:14px;border:0 solid #3a992d;border-width:0 2px 2px 0;-webkit-transform:rotateZ(45deg);margin:-6px 3px;pointer-events:none}
.cp_edit .button-box input[type="radio"] + span{border-radius:100%}
.cp_edit .button-box input[type="radio"]:checked + span:before{content:"";display:block;background:#2196f3;border-radius:100%;width:8px;height:8px;margin:2px;pointer-events:none}
.cp_edit textarea{width:100%;max-width:100%;min-width:100%;background-color:#fff;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#797979;padding-left:5px}

.cp_edit .center{width:60%;float:left}
.cp_edit .item_edit{margin-bottom:20px;display:table;width:100%}
.cp_edit .item_edit .name_item{float:left;width:20%;padding-right: 40px;}
.cp_edit .name_item_input{float:left;width:20%;line-height:36px}
.cp_edit .radio-name{vertical-align:top;font-weight:400;color:#333}
.cp_edit .button-box{display:table}
.cp_edit .button-box label{margin-right:10px}
.cp_edit .name_item_input{float:left;width:20%;line-height:36px}


.cp_edit .switch{position:relative;display:inline-block;width:40px;height:20px}
.cp_edit .switch input{display:none}
.cp_edit .switch .slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#faa;-webkit-transition:.4s;transition:.4s}
.cp_edit .switch .slider:before{position:absolute;content:"";height:12px;width:12px;left:4px;bottom:4px;background-color:#fff;-webkit-transition:.4s;transition:.4s}
.cp_edit .switch input:checked + .slider{background-color:#2196F3}
.cp_edit .switch input:focus + . .slider{box-shadow:0 0 1px #2196F3}
.cp_edit .switch input:checked + .slider:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px)}
.cp_edit .switch .slider.round{border-radius:34px}
.cp_edit .switch .slider.round:before{border-radius:50%}

.cp_edit .perent{margin-bottom:20px;padding: 0 10px;position:relative;display:table;width:100%}
.cp_edit .perent .item_name{line-height:36px}
.cp_edit .perent .left{float:left;width:20%;padding-right:20px}
.cp_edit .perent .right{width:20%;float:left;padding-left:15px;position:relative}
.cp_edit .perent .right .help:before{font-family:FontAwesome;content:"\f29c";line-height:36px;font-size:18px;color:#2196f3}

.cp_edit .perent .item_button{position:relative;overflow:hidden;width:180px;height:30px;background:#2196f3;border:none;border-radius:3px;padding:4px;color:#fff;text-align:center}
.cp_edit .perent .file-upload{position:relative;overflow:hidden;width:180px;height:30px;background:#aaa;border-radius:3px;padding:4px;color:#fff;text-align:center;float: left;}
.cp_edit .perent .file-upload:hover{background:#bbb}
.cp_edit .perent .file-upload input[type="file"]{display:none}
.cp_edit .perent .file-upload label{display:block;position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}
.cp_edit .perent .file-upload span{line-height:32px;font-weight:400}
.cp_edit .perent .image_group{display:table;width:100%}
.cp_edit .perent .image_group .image{width:100px;height:75px;padding:2px;display:table;float:left;border:1px solid #ddd;margin:0 10px 10px 0;position:relative}
.cp_edit .perent .image_group .image .delete:before{position:absolute;right:2px;top:2px;line-height:16px;border:1px solid #ddd;font-size:20px;background:#2196F3;font-family:FontAwesome;color:#fff;content:"\f057";border-radius:50%}
.cp_edit .perent .image_group img{width:100px;height:75px;object-fit:cover}

.cp_edit .perent .property .ad-property-input{margin-bottom:10px;display:table}
.cp_edit .perent .property .ad-property-name{width:49%;margin-right:1%;display:inline-block}
.cp_edit .perent .property .ad-property-qty{width:19%;margin-right:1%;display:inline-block}
.cp_edit .perent .property .ad-property-type{width:30%;color:#888;display:inline-block}
.cp_edit .perent .price .a-price{width:120px;float:left;display:inline-block}
.cp_edit .perent .price .input-part{background-color:#fff;float:left;height:36px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:5px;color:#797979;margin-left:5px;display:inline-block;align-items:center;flex-shrink:0;width:40px;text-align:center}
.cp_edit .perent .price .input-part span{line-height:36px}
.cp_edit .perent .price .price-type{width:85px;float:left;display:inline-block;margin-right:5px;padding:5px}
.cp_edit .perent .price .span-price{float:left;width:20px;text-align:center;margin:0 5px;line-height:36px}
.cp_edit .perent .price .percent{width:40px;float:left;margin-left:5px;padding:5px;text-align:center}
.cp_edit .perent .add-time .input-datetime{width:35%;display:inline-block}
.cp_edit .perent .add-time span{width:4%;display:inline-block;text-align:center}

.cp_edit .seo_group{padding:15px 0;border-bottom:1px solid #ddd;width:100%;margin-bottom:30px}
.cp_edit .seo_group .item_line{padding: 0 10px;margin-bottom:15px;display:table;width:100%}
.cp_edit .seo_group .left{float:left;width:20%}
.cp_edit .seo_group .left .item_name{font-weight:400;color:#333;padding-top:10px;    padding-right: 20px;line-height:14px;margin-bottom:0}
.cp_edit .seo_group .center{width:60%;float:left}
.cp_edit .seo_group .right{width:20%;float:left;padding-left:15px;position:relative}
.cp_edit .seo_group .right .help:before{font-family:FontAwesome;content:"\f29c";line-height:36px;font-size:18px;color:#2196f3}



.vm-goods button.close{position:absolute;right:-50px;font-size:60px;opacity:1;z-index:10001;color:#fff;top:0}
.vm-goods .block{margin-bottom:20px;display:table;width:100%}
.vm-goods .np{width:100%;display:table;margin:5px 0 30px}
.vm-goods .np .left{width:70%;float:left}
.vm-goods .np .right{width:30%;float:left}
.vm-goods .np .name{width:100%;font-size:16px;font-weight:600;padding-right:40px;margin-bottom:10px}
.vm-goods .np .date{font-size:14px;color:#666}
.vm-goods .np .price{font-size:16px;font-weight:600;text-align:right}
.vm-goods .image{width:100%;height:310px;display:table;border-bottom:1px solid #ddd}
.vm-goods .image img{width:100%;height:310px;object-fit:cover}
.vm-goods .gallery{width:100%;border:1px solid #ddd;display:table;padding:10px}
.vm-goods .gallery .item{padding:6px;width:20%;float:left}
.vm-goods .gallery img{width:100%;height:65px;object-fit:cover}
.vm-goods .preview{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
@media screen and (max-width: 996px) {
    .vm-goods .preview{margin-bottom:20px}
}
.vm-goods .preview-pic{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.vm-goods .preview-thumbnail.nav-tabs li img{max-width:100%;display:block}
.vm-goods .preview-thumbnail.nav-tabs li a{padding:0;margin:0}
.vm-goods .preview-thumbnail.nav-tabs li:last-of-type{margin-right:0}
.vm-goods .tab-content{overflow:hidden}
.vm-goods .tab-content img{width:100%;-webkit-animation-name:opacity;animation-name:opacity;-webkit-animation-duration:.3s;animation-duration:.3s}
.vm-goods .card{margin-top:50px;background:#eee;padding:3em;line-height:1.5em}
@-webkit-keyframes opacity {
    0%{opacity:0;-webkit-transform:scale(3);transform:scale(3)}
    100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes opacity {
    0%{opacity:0;-webkit-transform:scale(3);transform:scale(3)}
    100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
.vm-goods .vm-body h3{font-size:16px;margin:20px 0;font-weight:600}
.vm-goods .vm-body img{max-width:100%;margin-bottom:10px}
.vm-goods .cp-table{margin-bottom:40px}
.vm-goods .cp-tr{float:left;width:48%;margin-right:2%;background-image:url(/img/0.png);background-repeat:repeat-x;background-position:0 100%;background-size:2px 1px}
.vm-goods .cp-td,.vm-goods .cp-td-val{vertical-align:bottom;padding:10px 0 0}
.vm-goods .cp-td{float:left;width:55%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.vm-goods .cp-td-p{padding:0!important}
.vm-goods caption,.vm-goods th,.vm-goods td{text-align:left;font-weight:400}
.vm-goods .cp-td-p,.vm-goods .cp-td-p-val{background-color:#fff;display:inline;padding:0 0 5px}
.vm-goods .cp-td-val{width:45%;overflow:hidden;text-align:right;float:right;padding-left:20px;white-space:nowrap;text-overflow:ellipsis}

.vm-goods .nav-tabs>li.active>a,.vm-goods .nav-tabs>li.active>a:hover,.vm-goods .nav-tabs>li.active>a:focus{color:#222;border:none;border-bottom:2px solid #222}
.vm-goods .nav>li>a{padding:5px 0;margin-right:10px}
.vm-goods .button-xlsx{padding:3px 10px 5px;display:table;color:#222;background:#ffdb4d;border-radius:3px}
.vm-goods .nav-tabs{margin-bottom:15px}



.vm-header .name{font-size:16px;font-weight:600;padding-bottom:20px;border-bottom:1px solid #ddd;margin-bottom:20px}
.modal_edit .perent{width:100%;display:table;margin-bottom:20px}
.modal_edit .perent .left{float:left;width:30%;padding-right:20px}
.modal_edit .perent .item_name{line-height:32px;margin-bottom: 0}
.modal_edit .perent .center{width:70%;float:left}
.modal_edit .perent input{background-color:#fff;width:100%;height:32px;border:1px solid #ccc;font-size:14px;font-weight:400;border-radius:3px;color:#222;padding-left:5px}
.modal_edit .perent input.user_name{width:48%;float:left;margin-right:2%;padding-right:20px}
.modal_edit .perent input.sex{width:30%;margin-right:1%;text-align:center;float:left}
.radio_item{width:35%;float:left;margin-right:1%;margin-bottom: 0}
.radio_box{background-color:#fff;height:32px;border:1px solid #ccc;font-size:14px;text-align:center;line-height:32px;vertical-align:middle;font-weight:400;border-radius:3px;color:#222;padding-left:5px}
.radio_item input{display:none}
.radio_item input.sex:checked + .radio_box{background-color:#2196F3;color:#fff}
.modal_edit .perent .type{display:table;width:100%;margin-bottom:10px}
.modal_edit .perent .type .left{width:5%;float:left;padding:0}
.modal_edit .perent .type .left input{width:14px;height:14px}
.modal_edit .perent .type .right{width:95%;padding-left:15px;float:left}
.modal_edit .perent .type .right .position{font-size:14px;line-height: 16px;font-weight:600;color:#0095eb}
.modal_edit .perent .type .right .info{color:#888;line-height:15px;font-size:13px;margin-top:3px;font-weight:400}


.footer{width:100%;height:60px;background:#fff}
.footer a{margin-left:250px;line-height:60px;padding-left:30px;color:#aaa!important}
