p{margin-top: 0;margin-bottom: 10px}
p:last-child{margin-bottom: 0}

.hb .change .bar1{-webkit-transform:rotate(-47deg) translate(-9px,5px);transform:rotate(-47deg) translate(-6px,7px)}
.hb .change .bar2{opacity:0}
.hb .change .bar3{-webkit-transform:rotate(47deg) translate(-7px,-5px);transform:rotate(47deg) translate(-6px,-7px)}

.hb-wrap .dropdown-menu{background:#fff;padding:0;display:none;left:0;top:100%;position:absolute;min-width:100%;width:max-content;z-index:5;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}
.hb-wrap .dropdown-menu.show{display: block}
.hb-wrap .dropdown-menu li{float:none;margin:0;padding:0;text-transform:none;font-size:14px;font-weight:400;border-top:1px solid #e5e5e5}
.hb-wrap .dropdown-menu li:first-child{border-top:0}
.hb-wrap .dropdown-menu a{color:#333;padding:8px 15px;display:table;width:100%}
.hb-wrap .dropdown-menu a:hover{color:#333}

@media screen and (min-width: 993px){
    .hb-wrap .dropdown:hover .dropdown-menu{display:block}
}
@media screen and (max-width: 992px) {
    .hb-wrap .dropdown-menu {position: relative;}
    .hb-wrap.resp{position:relative}
    .hb-wrap.resp .hb_nav{display:block}
    .hb-wrap.resp .hb_nav li{float:none;text-align:left}
    .hb-wrap.resp .hb_nav li i{  float: right;  padding: 2px 0;  }
}

.tizers { width: 100%; display: table; position: absolute; bottom: 20px; }
.tizers .tizers_list { margin: 0 auto;display: table; width: 100%; }
.tizers .item { width: 24.5%; display: inline-block; vertical-align: middle; float: none; padding: 0px 1%; }
.tizers .item .image { width: 35px; min-width: 35px; min-height: 35px; height: 35px; }
.tizers .item .image img { width: 100%; height: 100%; object-fit: cover; }
.tizers .item .info { text-align: left; padding: 0px 0px 0px 10px; white-space: normal; font-weight: 600; font-size: 12px; }
.tizers .item .info p {margin: 0; font-weight: 400; }
.tizers .item > div { display: table-cell; vertical-align: middle; }
.tizers.separately {display: table;position: relative;margin: 0 auto;bottom: 0px}
.tizers.separately .item .info { font-size: 14px; }
.tizers.separately .item .image { width: 45px; min-width: 45px; min-height: 45px; height: 45px; }
.tizers.separately .item .info { padding: 0px 0px 0px 15px; }

@media screen and (min-width: 1400px) {
    .tizers.ban .tizers_list{width: 1140px}
}
@media screen and (max-width: 1399px) {
    .tizers.ban .tizers_list{width: 100%}
}
@media screen and (min-width: 1400px) {
    .tizers.separately .tizers_list{width: 1140px}
}
@media screen and (max-width: 1399px) {
    .tizers.separately .tizers_list{width: 100%}
}
@media screen and (max-height: 680px) {
    .ban_2 .tizers{display:none}
}
@media screen and (max-width: 700px) {
    .ban_2 .tizers{display:none}
    .tizers .item {width: 50%;margin-bottom: 15px}
}
@media screen and (max-width: 480px) {
    .tizers .item {width: 100%;margin-bottom: 10px}
    .solo-tizers {padding: 40px 10px}
}
.main_page{width:100%;display:table}
.main_page .main_title{padding:0 5px 3px;margin-bottom:10px}
.main_page .main_title h1{font-size:22px;line-height:22px;margin-bottom:0;font-weight: 500}
.main_page .main_title h2{font-size:22px;line-height:22px;margin-bottom:0;font-weight: 500}
.main_page .i-c{margin:0;width:100%}

.background{padding:40px 0}
.background.grey{background-color:#f3f3f3}
.background.light{background-color:#fff}
.background .main_title{margin-bottom:15px}

.i-c{display:table;position:relative;margin:0 auto 40px}
.i-c .title{padding:0 10px;font-weight:600;margin-bottom:20px}
.i-c .title h2{font-size:24px}
.i-c .item_list{width:100%;display:table;margin-bottom:30px}
.i-c .item_list:last-child{margin-bottom:0}
.i-c .cat_block-xl .item{width:20%}
.i-c .cat_block-md .item{width:25%}
.i-c .cat_block-sm .item{width:33.333%}
.i-c .cat_block-xs .item{width:50%}
.i-c .item{float:left;padding:0 .5% .5%;margin-bottom: 15px}
.i-c .item .image{position: relative;width:100%;overflow:hidden;margin-bottom:10px}
.i-c .cat_block-xl .item .image{height: 18vw;}
.i-c .cat_block-md .item .image{height: 18vw;}
.i-c .cat_block-sm .item .image{height: 18vw;}
.i-c .cat_block-xs .item .image{height: 18vw;}
.i-c .item img{width:100%;height:100%;object-fit:cover;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.i-c .item:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.i-c .item_list:nth-child(2) img{height:160px}
.i-c .item_list:nth-child(2) .image{height:160px}
.i-c .item .info{padding:0 10px}
.i-c .name{margin-bottom:10px;font-size:16px;line-height:16px;overflow:hidden;max-height:32px;font-weight:600}
.i-c .subcat{max-height:70px;font-size:14px;line-height:14px;overflow:hidden}
.i-c .more{margin-top:10px}
.i-c .subcat a{color:#222;padding-right:10px;display:inline-block}
.i-c.in-pic .item{position:relative;padding:5px;margin-bottom:0}
.i-c.in-pic .item .image{margin-bottom:0}
.i-c.in-pic .img_dark{opacity:0;background-color:rgba(0,0,0,.6);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.i-c.in-pic .item:hover .img_dark{opacity:1}
.i-c.in-pic .subcat{transition:all ease .3s!important;opacity:0;visibility:hidden;padding:5px;height:0;max-height:none}
.i-c.in-pic .subcat a{color:#fff}
.i-c a:hover{text-decoration: underline;}
.i-c.in-pic .item:hover .subcat{-webkit-transform:translateY(-5px);-ms-transform:translateY(-5px);transform:translateY(-5px);height:auto;opacity:1;visibility:visible;display:block;margin:10px 0 0}
.i-c.in-pic .item .info{padding:0;position:absolute;bottom:10px;right:20px;left:20px;z-index:3}
.i-c.in-pic .name{margin-bottom:0;font-size:20px;overflow:hidden;max-height:100px;padding:5px;font-weight:600;transition:all ease .3s!important}
.i-c.in-pic .name a{color:#fff}
.i-c.in-pic .name span{background:#269ffd;padding:0 .2em .15em 0;line-height:1.4}

@media screen and (min-width: 1400px) {
    .i-c .cat_block-sm .item .image{height: 246px;}
}
@media screen and (min-width: 963px) and (max-width: 1399px) {
    .i-c .cat_block-sm .item .image{height:21vw}
}
@media screen and (max-width: 962px) {
    .i-c .cat_block-sm .item{width:50%}
    .i-c .cat_block-sm .item .image{height:31.2vw}
}
@media screen and (max-width: 480px) {
    .i-c .cat_block-sm .item{width:100%}
    .i-c .cat_block-sm .item .image{height:64vw}
}
.i-g .i-g_l{width:100%;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.i-g .i-g_l-xs .item{width:15.666%}
.i-g .i-g_l-sm .item{width:19%}
.i-g .i-g_l-md .item{width:24%}
.i-g .i-g_l-xl .item{width:32.333%}
.i-g .item{float:left;margin:.5%;background:#fff;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.i-g .img_dark{opacity:0;background-color:rgba(0,0,0,.2);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.i-g .item:hover .img_dark{opacity: 1}
.i-g .item .image{position:relative;width:100%;overflow:hidden;height:23vw}
.i-g .item img{width:100%;height:100%;object-fit:cover}
.i-g .item .info{padding:7px}
.i-g .name{margin-bottom:10px;width:100%;font-size:14px;line-height:16px;overflow:hidden;max-height:32px}
.i-g .item .prices{display:table;width:100%;font-size:14px}
.i-g .item .minimum{width:30%;color:#888;float:left}
.i-g .item .price-content{width:70%;float:left;text-align:right;color:#222;font-weight:600}
@media screen and (min-width: 1400px) {
    .i-g .item .image{height:273px}
    .i-g .name{font-size:16px}
}
@media screen and (max-width: 992px) {
    .row{margin:0}
    .i-g .i-g_l-md .item{width:24%;margin:.5%}
    .i-g .item{padding:0}
    .i-g .item .image{height:22.5vw}
    .i-g .item .info{padding:10px}
    .i-g .name{font-weight:400;margin-bottom:5px}
    .i-g .item .minimum{display:none}
    .i-g .item .price-content{text-align:left}
}
@media screen and (max-width: 778px) {
    .i-g .i-g_l-md .item{width:32.333%}
    .i-g .item .image{height:31vw}
}
@media screen and (max-width: 575px) {
    .i-g .i-g_l-md .item{width:49%}
    .i-g .item .image{height:46vw}
}

.c{display:block;width:100%;padding:5px;margin-bottom:40px;background:#fff;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.c.grey{padding:0;border:0;box-shadow:none;-webkit-box-shadow:none}
.c.grey .content_title{padding:15px;font-size:17px;line-height:17px;font-weight:600;margin:0;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.c .cover{position:relative;height: 17vw;background-position: 50%;background-size: cover;margin: -5px;}
@media screen and (min-width: 1400px){.c .cover{height:200px}}
@media screen and (max-width: 992px){.c .cover{height: 23.5vw}}
.c .cover .content_title-cover{position:absolute;top:42%;left:15px}
.c .cover .content_title-cover h1{margin:0;line-height:28px}
.c .cover .content_title-cover span{background:#269ffd;padding:0 .2em .15em 0;line-height:1.4;color:#fff;font-size:22px;font-weight:600}
.c .content_title{padding:0 10px;margin:10px 0;font-size:17px;line-height:17px;font-weight:600}
.c h1{font-size:18px;line-height:18px;font-weight:600;margin:0}
.c h2, .c h3, .c h4, .c h5{font-size:18px;line-height:18px;font-weight:700;margin:20px 0 10px}
.c h2:first-child{margin: 15px 0}
.video h3{font-size:15px!important;line-height:15px!important;margin:0!important;font-weight:600!important}
.c .content_title h2, .c .content_title h3{font-size:17px;line-height:17px;font-weight:600;margin:0}
.c .content_title .data {font-size: 14px;line-height: 14px;font-weight: 400;margin-top: 5px;color: #888}
.c .description{padding:0 10px;margin: 10px 0;font-size:15px}
@media screen and (max-width: 992px) {
    .c.grey{background:none}
    .c.grey .content_title{-webkit-box-shadow:none;box-shadow:none;padding: 15px 5px;}
}
@media screen and (max-width: 778px) {.c.no-mobile{display: none}}

.c-g .c-g_l{width:100%;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.c-g .c-g_l-md .item{width:25%}
.c-g .c-g_l-lg .item{width:32.333%}
.c-g .c-g_l-xl .item{width:50%}
.c-g .item{float:left;background:#fff;padding:10px;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.c-g .item .image{position:relative;width:100%;overflow:hidden;height:16vw}
.c-g .c-g_l-xl .item .image{height:20vw}
.c-g .img_dark{opacity:0;background-color:rgba(0,0,0,.2);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.c-g .item:hover .img_dark {opacity: 1}
.c-g .item img{width:100%;height:100%;object-fit:cover}
.c-g .item .info{padding:7px 7px 0}
.c-g .name{margin-bottom:10px;width:100%;font-size:15px;line-height:15px;overflow:hidden;max-height:30px}
.c-g .item .prices{display:table;width:100%;font-size:14px}
.c-g .item .minimum{width:30%;color:#888;float:left}
.c-g .item .price-content{width:70%;float:left;text-align:right;color:#222;font-weight:600}
@media screen and (min-width: 1400px) {
    .c-g .c-g_l-md .item .image{height:191px}
    .c-g .c-g_l-xl .item .image{height:270px}
}
@media screen and (max-width: 992px) {
    .row{margin:0}
    .c-g .c-g_l-md .item{width:24%;margin:.5%}
    .c-g .c-g_l-xl .item{width:49%;margin:.5%}
    .c-g .item{padding:0}
    .c-g .item .image{height:23.5vw}
    .c-g .c-g_l-xl .item .image{height:29vw}
    .c-g .item .info{padding:10px}
    .c-g .name{font-weight:400;margin-bottom:5px}
    .c-g .item .minimum{display:none}
    .c-g .item .price-content{text-align:left}
}
@media screen and (max-width: 778px) {
    .c-g .c-g_l-md .item{width:32.333%}
    .c-g .item .image{height:31.5vw}
}
@media screen and (max-width: 575px) {
    .c-g .c-g_l-md .item{width:49%}
    .c-g .c-g_l-xl .item{width:99%}
    .c-g .c-g_l-xl .item .image{height:50vw}
    .c-g .item .image{height:46vw}
}
.c-gd .c-gd_l{width:100%;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.c-gd{margin: 0 -0.5%}
.c-gd .item{float:left;width:24%;background:#fff;border: 1px solid #e6e6e6;margin: 0.5%;position: relative}
.c-gd .c-gd_l-xl .item{width:49%;}
.c-gd .item .image{position:relative;width:100%;overflow:hidden;height:17vw}
.c-gd .c-gd_l-sm .item .image {height: 14vw}
.c-gd .c-gd_l-xl .item .image {height: 20vw}
.c-gd .img_dark{opacity:0;background-color:rgba(0,0,0,.2);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.c-gd .item:hover .img_dark {opacity: 1}
.c-gd .item img{width:100%;height:100%;object-fit:cover}
.c-gd .item .info{padding:10px 10px}
.c-gd .name{width:100%;font-weight:600;font-size:14px;line-height:16px;overflow:hidden;max-height:30px}
.c-gd .i_cat{margin-top: 3px;line-height: 12px;font-size: 12px;color:#888}
.c-gd .item .rating{color:#fdcc63;font-size: 12px;line-height: 12px;margin-top: 6px;}
.c-gd .item .prices{display: table;width: 100%;font-size: 16px;line-height: 16px;margin-top: 10px;color: #222;font-weight: 600;}
.c-gd .act{display: flex;width: 100%;border-top: 1px solid #e6e6e6;}
.c-gd .act .area{width: 40%;float: left;padding: 9px 0;color: #fff;background: #5cb85c;text-align: center;font-size: 14px;line-height: 16px}
.c-gd .act .area span{font-size: 14px;}
.c-gd .act_button{width: 60%;float:left;padding: 10px 0;font-size: 14px;line-height: 14px;text-align: center;color: #888}
.c-gd .act_button:hover{color: #fff;background: #5cb85c;border-left: 1px solid #fff;}
.c-gd .act_button .fa{margin-left: 5px}
@media screen and (min-width: 1400px) {
    .c-gd .item .image{height:203px}
    .c-gd .c-gd_l-xl .item .image{height:270px}
    .c-gd .c-gd_l-sm .item .image{height: 175px}
}
@media screen and (max-width: 992px) {
    .row{margin:0}
    .c-gd .c-gd_l-sm .item{width:49%;margin:.5%}
    .c-gd .c-gd_l-xl .item{width:49%;margin:.5%}
    .c-gd .item{padding:0}
    .c-gd .item .image{height:23.5vw}
    .c-gd .c-gd_l-xl .item .image{height:29vw}
    .c-gd .c-gd_l-sm .item .image{height:29vw}
    .c-gd .item .info{padding:10px}
    .c-gd .name{font-weight:400;margin-bottom:5px}
    .c-gd .item .minimum{display:none}
    .c-gd .item .price-content{text-align:left}
}
@media screen and (max-width: 778px) {
    .c-gd .c-gd_l-md .item{width:32.333%}
    .c-gd .item .image{height:31.5vw}
}
@media screen and (max-width: 575px) {
    .c-gd .c-gd_l-sm .item{width:99%}
    .c-gd .c-gd_l-sm .item .image{height:50vw}
    .c-gd .c-gd_l-xl .item{width:99%}
    .c-gd .c-gd_l-xl .item .image{height:50vw}
    .c-gd .item .image{height:46vw}
}

.c-c_l{width:100%;display:table;margin-top:10px}
.c-c_l .i{float:left;width:32.333%;display:block;position:relative;margin:.5%}
.c-c_l .i a{display:table;color:#fff;width:100%}
.c-c_l .i .image{width:100%;height:16vw;width:100%;height:15vw;position:relative;overflow:hidden}
.c-c_l .i .image img{width:100%;height:100%;object-fit:cover;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.c-c_l .i .dark{opacity:0;background-color:rgba(0,0,0,.2);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.c-c_l .i:hover .dark{opacity:1}
.c-c_l .i:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.c-c_l .i .info{padding:0;position:absolute;bottom:10px;right:20px;left:20px;z-index:3}
.c-c_l .i .name{margin-bottom:10px;width:100%;font-size:17px;line-height:18px;overflow:hidden;font-weight:600}
.c-c_l .i .name span{background:#269ffd;padding:0 .5em .15em .1em;line-height:1.4}
@media (min-width: 1400px) {
    .c-c_l .i .image{height:176px}
}
@media screen and (max-width: 992px) {
    .c-c_l .i .image{height:20.7vw}
}
@media screen and (max-width: 575px) {
    .c-c_l .i{width:49%}
    .c-c_l .i .image{height:31vw}
}
@media screen and (max-width: 480px) {
    .c-c_l .i{width:99%}
    .c-c_l .i .image{height:63vw}
    .c-c_l .i .name{font-size:18px}
}

.c .manager_in_description{width:100%;display:flex;padding:10px}
.c .manager_in_description .person{display:inline-flex;width:40%;padding-right:15px;border-right:1px solid #ddd;margin-right:15px}
.c .manager_in_description .person .image{display:inline-block;float:left;width:75px;height:55px;padding-right:15px}
.c .manager_in_description .person .image img{width:55px;height:55px;object-fit:cover;border-radius:50%}
.c .manager_in_description .person .info{display:inline-block;width:100%}
.c .manager_in_description .person .info .name{line-height:18px;margin-bottom:5px;font-weight:600;font-size:16px}
.c .manager_in_description .person .info .position{line-height:18px;font-size:15px;margin-bottom:10px}
.c .manager_in_description .person_company{display:inline-block;width:60%}
.c .manager_in_description .data{width:100%;display:flex;font-size:15px;line-height: 17px;padding: 3px 0;}
.c .manager_in_description .data.phone:before{font-family:FontAwesome;font-size:15px;margin-right:10px;vertical-align:middle;color:#269ffd;content:"\f095";width:20px;min-width:20px;text-align:center;display:inline-block}
.c .manager_in_description .data.email:before{font-family:FontAwesome;font-size:15px;margin-right:10px;vertical-align:middle;color:#269ffd;content:"\f0e0";width:20px;min-width:20px;text-align:center;display:inline-block}
.c .manager_in_description .person_company .name{font-weight:600;line-height:18px;font-size:16px;margin-bottom:32px}
.c .manager_in_description .person_company .address{line-height:17px;font-size:15px;margin-bottom:5px}
.c .manager_in_description .person_company .open_map{line-height:18px;font-size:15px;margin-bottom:5px}
.c .manager_in_description .person_company .data{line-height:18px;font-size:15px;margin-bottom:5px}

.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
.pagination>li{display:inline}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;background-color:#fff;border-color:#ddd;cursor:not-allowed}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.42857143;font-size:15px;text-decoration:none;color:#0095eb;background-color:#fff;border:1px solid #ddd;margin-left:-1px}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:3;color:#fff;background-color:#5cb85c;border-color:#41a541;cursor:default}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}


.c-o .c-o_l{width:100%;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.c-o .item{float:left;background:#fff;padding:10px;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.c-o .item .image{position:relative;width:100%;overflow:hidden;height:15vw;background-repeat: no-repeat; background-size: cover;background-position: center;}
.c-o .img_dark{opacity:0;background-color:rgba(0,0,0,.2);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.c-o .item:hover .img_dark{opacity: 1}
.c-o .item img{width:100%;height:100%;object-fit:cover}
.c-o .item .info{padding: 12px 7px 0;}
.c-o .item .info_desc{font-size:14px;margin-bottom:5px;line-height:16px;color:#444;max-height: 48px;overflow: hidden;}
.c-o .item .info_date{font-size:14px;color:#888}
.c-o .name{margin-bottom:10px;width:100%;font-size:15px;line-height:15px;overflow:hidden;max-height:30px}

.c-o .c-o_l-sm .item{width:20%}
.c-o .c-o_l-md .item{width:25%}
.c-o .c-o_l-xl .item{width:33.333%}
.c-o .c-o_l-xxl .item{width:50%}
.c-o .c-o_l-xxl .image{height: 22.5vw;}

.ytp-modal{min-width:320px;min-height:200px;width:65%;height:37vw;padding:10px;justify-content:center;align-items:center;position:relative;display:flex;border-radius:6px}
.ytp-close{font-size:60px;font-weight:700;background:none;border:0;width:40px;height:40px;display:flex;position:absolute;top:0;right:-50px;z-index:9;cursor:pointer}
.ytp-modal-wrapper{top:0;left:0;right:0;bottom:0;position:fixed;justify-content:center;align-items:center;z-index:6;display:flex}
.ytp-modal-content{width:100%;height:100%;z-index:10;display:block}

.modal-ui-modal{min-width:320px;width:600px;min-height:150px;max-height:none;overflow-x: hidden;  overflow-y: auto; padding:20px;justify-content:center;align-items:center;position:relative;display:table}
.modal-ui-close{font-size: 60px;line-height: 60px;font-weight: 700;display: table;position: absolute;color: #fff;top: 0;right: -50px;z-index: 9;cursor: pointer;}
.modal-ui-close span{display: block}

.modal-ui-wrapper{top:0;left:0;right:0;bottom:0;position:fixed;  width: 100%;background: #fff;justify-content:center;align-items:center;z-index:2500;overflow-x: hidden;overflow: auto;display:flex;}
.modal-ui-content{width:100%;height:100%;z-index:10;display:block}
.modal-ui-content .title{padding:0;width:100%;margin-bottom:20px}
.modal-ui-content .title h2{font-weight:700;font-size:18px;line-height:18px;text-transform:uppercase;margin:0}
.ui-p{display:inline-flex;width:100%;padding:20px 0;border-top:1px solid #ddd}
.ui-p .p-image{height:80px;display:inline-block}
.ui-p .p-info{width:100%;display:inline-block;position:relative}
.ui-p .p-info-t{padding:0 15px}
.ui-p .p-info-b{padding:10px 15px 0;position:absolute;bottom:0}
.ui-p .p-info-f{width:100%}
.ui-p .p-image img{width:80px;height:80px;object-fit:cover}
.ui-p .p-name{font-size:16px;line-height:16px;font-weight:600}
.ui-p .p-switch{color:#666;font-size:13px;line-height:13px;margin-top:5px}
.ui-p .p-switch:last-child{margin-bottom:0}
.ui-p .p-switch span{margin-left:5px;font-weight:600;color:#222}
.ui-p .i{display:table;width:100%}
.ui-p .qty-input{display:inline-block;width:55px;vertical-align:top;border:1px solid #ddd;padding:0 8px;margin:0 -1px;height:30px}
.ui-p .minus{display:inline-block;width:30px;height:30px;font-size:16px;text-align:center;line-height:30px;border:1px solid #ddd}
.ui-p .plus{display:inline-block;width:30px;height:30px;font-size:16px;text-align:center;line-height:30px;border:1px solid #ddd;margin-left:-1px}
.ui-p .ui-m-b{display: none}
.ui-p .price{float:left;font-size:14px;line-height:30px;margin-left:10px}
.ui-p .name{float:left;font-size:14px;line-height:30px;width:90px;margin-right:10px}
.ui-p .qty-ui{float:left}
.ui-p .qty-price{float:left;font-size:14px;line-height:30px}
.ui-b{margin:0 -20px;background:#f3f3f3}
.ui-b .title{padding:20px;font-weight:600;font-size:15px;margin-bottom:0}
.ui-b-form{padding:0 20px 20px}
.ui-b .form-group{margin-bottom:15px}
.ui-b .form-group:last-child{margin-bottom:0}
.ui-b .label{font-size:14px;line-height:14px;margin-bottom:5px}
.ui-b .g-input input{width:100%;height:37px;border:1px solid #ddd;padding:10px}
.ui-b .g-input textarea{width:100%;margin:0;min-width:100%;max-width:100%;height:120px;max-height:120px;min-height:120px;padding:10px;overflow:hidden auto;border:1px solid #ddd}
.ui-f{padding-top:20px}
.ui-f button{border:0;background:#32a601;color:#fff;font-size:13px;line-height:13px;padding:10px}
@media screen and (max-height: 850px) {
    .modal-ui-wrapper{align-items: normal;}
    .modal-ui-modal{margin: 40px 0}
    .modal-ui-close {top: -7px;right: 10px;color: #222;font-size: 50px;}
}
@media screen and (max-width: 778px) {
    .modal-ui-close {top: -5px;right: 10px;color: #222;font-size: 50px;}
}
@media screen and (max-width: 575px) {
    .modal-ui-modal{width: 100%}
    .modal-ui-modal{margin: 0}
    .modal-ui-modal{width: 460px}
}
@media screen and (max-width: 480px) {
    .ui-p .ui-m-b{display: block}
    .ui-p .ui-m-b .price{margin-left: 0}
    .ui-m-n{display: none}
}
.c-o_l .item.ytp .click{position: absolute;width: 100%;height: 100%;z-index: 5;cursor: pointer;}
.c-o_l .item.ytp .image:before{width:100%;height:20px;background:#000;position:absolute;top:0;content:""}
.c-o_l .item.ytp .image:after{width:100%;height:20px;background:#000;position:absolute;bottom:0;content:""}
.c-o_l .item.ytp a{display:block}
.c-o_l .item.ytp .ytp-gradient{width:100%;position:absolute;background-repeat:repeat-x;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);-moz-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);-webkit-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);pointer-events:none;padding-bottom:50px;top:0;background-position:top;height:100px}
.c-o_l .item.ytp .ytp-title{position:absolute;z-index:2;top:10px;left:10px;content:""}
.c-o_l .item.ytp .ytp-chanel{width:40px;height:40px;border-radius:50%;background-repeat:no-repeat;background-size:cover;background-position:center;float:left}
.c-o_l .item.ytp .ytp-button{border:none;background-color:transparent;padding:0;color:inherit;text-align:inherit;font-size:100%;font-family:inherit;line-height:inherit;position:absolute;left:50%;top:50%;width:68px;height:48px;margin-left:-34px;margin-top:-24px;-moz-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);-webkit-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);z-index:3;cursor:pointer}
.c-o_l .item.ytp .ytp-title-text{display:block;overflow:hidden;color:#eee;font-size:17px;padding:11px 15px;line-height:17px;font-weight:600;text-shadow:0 0 2px rgba(0,0,0,1);text-overflow:ellipsis;text-decoration:none;-moz-transition:color .1s cubic-bezier(0.0,0.0,0.2,1);-webkit-transition:color .1s cubic-bezier(0.0,0.0,0.2,1);transition:color .1s cubic-bezier(0.0,0.0,0.2,1);outline:0}
.c-o_l .item.ytp:hover .ytp-button-bg{-moz-transition:fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);-webkit-transition:fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);transition:fill .1s cubic-bezier(0.0,0.0,0.2,1),fill-opacity .1s cubic-bezier(0.0,0.0,0.2,1);fill:red;fill-opacity:1}
@media screen and (min-width: 1400px) {
    .c-o .item .image{height:175px}
    .c-o .c-o_l-xl .image{height: 250px;}
    .c-o .c-o_l-xxl .image{height: 269px;}
}
@media screen and (max-width: 992px) {
    .row{margin:0}
    .c-o .c-o_l-md .item{width:24%;margin:.5%}
    .c-o .c-o_l-xl .item{width:32.333%;margin:.5%;}
    .c-o .c-o_l-xl .item .image {height: 21vw;}
    .c-o .c-o_l-xxl .item{width:49%;margin:.5%;}
    .c-o .c-o_l-xxl .item .image{height: 32vw;}
    .c-o .item{padding:0}
    .c-o .item .image{height:22vw}
    .c-o .item .info{padding:10px}
    .c-o .name{font-weight:400;margin-bottom:5px}
}
@media screen and (max-width: 778px) {
    .c-o .c-o_l-md .item{width:32.333%}
    .c-o .item .image{height:29.5vw}
}
@media screen and (max-width: 575px) {
    .c-o .c-o_l-md .item{width:49%}
    .c-o .item .image{height:46vw}
    .c-o .c-o_l-xl .item {width: 49%;margin: .5%;}
    .c-o .c-o_l-xl .item .image {height: 31vw;}
    .ytp-modal{border-radius:0;padding: 5px;position: initial;width: 95%;  height: 60vw;}
    .ytp-close{width: 100%;height: 100%;right: 0;font-size: 0;}
}

.table table td, .table table th {
    min-width: 2em;
    padding: .4em;
    border: 1px solid #d9d9d9;
}
table{border-collapse: collapse;}
.table{margin:20px 0;overflow-y: hidden;}
blockquote{font-style: italic;
    font-size: 17px;
    line-height: 24px;
    border-left: 3px solid #32a601;
    padding: 10px 0 11px 25px;
    margin: 20px 0 21px 1px;}
    @media screen and (max-width: 778px) {
   table{width: 817px;}
}

.news{width:100%;display:table;position:relative}
.news .item{width:33.333%;display: inline-block;float:left;padding:10px}
.news .item a{display:flex}
.news .item .image{width:105px;min-width:105px;height:70px;float:left}
.news .item .image img{width:100%;height:100%;object-fit:cover}
.news .item .info{display: inline-block;float:left;padding:0 10px}
.news .item .info .date{color:#fff;display:table;padding:2px 10px;background:#269ffd;margin-bottom:10px}
.news .item .info .name{font-size:14px;line-height:16px}
@media screen and (max-width: 962px){.news .item{width:100%;float:left}}

.portfolio-i{width:100%;display:table}
.portfolio-i .item{float:left;background-color:#fff;width:15.666%;margin:.5%;padding:0;border:1px solid #ddd}
.portfolio-i .item:hover{box-shadow:0 1px 3px 0 rgba(0,0,0,0.15)}
.portfolio-i .item a{text-decoration:none}
.portfolio-i .item:hover .name{text-decoration:underline}
.portfolio-i .item .image{position:relative;width:100%;overflow:hidden;height:10vw}
.portfolio-i .img_dark{opacity:0;background-color:rgba(0,0,0,.25);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .8s cubic-bezier(.19,1,.22,1);transition:opacity .8s cubic-bezier(.19,1,.22,1);position:absolute;display:block;width:100%;height:100%;z-index:2}
.portfolio-i .item:hover .img_dark{opacity:1}
.portfolio-i .item img{width:100%;height:100%;object-fit:cover}
.portfolio-i .item .info{padding:10px}
.portfolio-i .item .info .name{margin-bottom:10px;width:100%;font-size:16px;line-height:16px;overflow:hidden;height:16px;font-weight:600}
.portfolio-i .item .description{font-size:14px;line-height:16px;max-height:64px;overflow:hidden;margin-bottom:5px;color:#444}
.portfolio-i .item .date{font-size:14px;color:#888}
@media screen and (min-width: 1400px) {
    .portfolio-i .item .image{height:120px}
}
@media screen and (max-width: 962px) {
    .portfolio-i .item{ width: 24%;}
    .portfolio-i .item .image{height:16vw}
}
@media screen and (max-width: 575px) {
    .portfolio-i .item{width:49%}
    .portfolio-i .item .image{height:31vw}
}

.about_i-description{font-size:16px;padding:0 5px}

.manager{display:table;padding:5px 5px 12px;margin-bottom:40px;background:#fff;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.manager .title{margin-bottom:15px;font-weight:600;line-height:17px;font-size:17px;padding:7px 10px 5px}
.manager .person{display:flex;margin-bottom:15px;padding:0 10px}
.manager .person .image{float:left;width:55px;min-width:55px;background-repeat:no-repeat;background-size:cover;border-radius:50%;display:inline-block;height:55px;margin-right:15px}
.manager .person .info{display:inline-block;float:left;margin:auto;width:100%}
.manager .person .name{line-height:18px;margin-bottom:5px;font-weight:600;font-size:16px}
.manager .person .position{line-height:16px;font-size:14px}
.manager .data{font-size:16px;width:100%;display:flex;line-height: 18px;padding:6px 10px}
.manager .data.phone:before{font-family:FontAwesome;font-size:20px;margin-right:15px;vertical-align:middle;color:#269ffd;content:"\f095";width:20px;min-width:20px;text-align:center;display:inline-block}
.manager .data.email:before{font-family:FontAwesome;font-size:20px;margin-right:15px;vertical-align:middle;color:#269ffd;content:"\f0e0";width:20px;min-width:20px;text-align:center;display:inline-block}
.manager .data.local:before{font-family:FontAwesome;font-size:20px;margin-right:15px;vertical-align:middle;color:#269ffd;content:"\f041";width:20px;min-width:20px;text-align:center;display:inline-block}
.manager .data.timework:before{font-family:FontAwesome;font-size:20px;margin-right:15px;vertical-align:middle;color:#269ffd;content:"\f017";width:20px;min-width:20px;text-align:center;display:inline-block}
.manager .data.local .address{display:inline-block;margin-bottom:0}

.map{margin-bottom:40px;padding:5px;background:#fff;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.map .title{padding:7px 10px 5px;font-weight:600;margin-bottom:0}
.map .title span{line-height:17px;font-size:17px}
.map .back-map{width:100%;padding:10px;height:21vw;position: relative}
.map .back-map.big{height: 325px}
.map .back-map .block_map_b{border:none;background-color:transparent;padding:0;color:inherit;text-align:inherit;font-size:100%;font-family:inherit;cursor:default;line-height:inherit;position:absolute;left:50%;top:50%;width:68px;height:48px;margin-left:-85px;margin-top:-19px;-moz-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);-webkit-transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1);transition:opacity .25s cubic-bezier(0.0,0.0,0.2,1)}
.map .back-map .map_b{background:#269ffd;border:1px solid #e6e6e6;color:#fff;padding:9px 18px;font-size:18px;line-height:18px;width:170px;text-align:center;border-radius:3px}
.map .back-map:hover .map_b{background-color: #48aefd}
.map .back-map .map-view{background-position:50%;background-size:cover;background-repeat:no-repeat;height:100%;width:100%}
@media (min-width: 1400px){.map .back-map{height:260px}}

.documents{padding:5px;margin-bottom:40px;background:#fff;-webkit-box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6 inset,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;box-shadow:-1px 0 0 0 #e6e6e6 inset,0 -1px 0 0 #e6e6e6 inset,-1px -1px 0 0 #e6e6e6,-1px 0 0 0 #e6e6e6,0 -1px 0 0 #e6e6e6;-webkit-box-orient:vertical;-webkit-box-direction:normal}
.documents .title{margin-bottom:5px;font-weight:600;padding:7px 10px 5px;line-height:17px;font-size:17px}
.documents .documents_list{display:table;padding:10px 10px 7px;width:100%}
.documents .item{display:flex;width:100%;margin-bottom:15px}
.documents .item:last-child{margin-bottom:0}
.documents .file{display:inline-block}
.documents .file-img:before{font-family:FontAwesome;font-size:20px;margin-right:10px;vertical-align:middle;background:#269ffd;color:#fff;border-radius:3px;content:"\f1c5 ";width:30px;min-width:20px;text-align:center;display:inline-block;content:"\f1c5 "}
.documents .file-pdf:before{font-family:FontAwesome;font-size:20px;margin-right:10px;vertical-align:middle;background:#269ffd;color:#fff;border-radius:3px;content:"\f1c5 ";width:30px;min-width:20px;text-align:center;display:inline-block;content:"\f1c1 "}
.documents .file-excel:before{font-family:FontAwesome;font-size:20px;margin-right:10px;vertical-align:middle;background:#269ffd;color:#fff;border-radius:3px;content:"\f1c5 ";width:30px;min-width:20px;text-align:center;display:inline-block;content:"\f1c3 "}
.documents .file-word:before{font-family:FontAwesome;font-size:20px;margin-right:10px;vertical-align:middle;background:#269ffd;color:#fff;border-radius:3px;content:"\f1c5 ";width:30px;min-width:20px;text-align:center;display:inline-block;content:"\f1c2 "}
.documents .item .info{display:inline-block;font-size:14px}
.documents .item .info .name{line-height:16px}
.documents .item .info .name a{font-size:14px;line-height:16px;font-weight:600}
.documents .item .info .size{color:#888;font-size:12px}

.nsm li:last-child .parent_cat{border:none}
.nsm li.collapse:last-child .parent_cat{border-bottom: 1px solid #e6e6e6;}
.nsm .parent_cat a{  text-decoration:none;  line-height: 16px;  display: table-cell;  vertical-align: middle;  width: 100%;  }
.nsm .collapsed{display: none}
.nsm .collapsed.active{display: block}
.nsm .parent_cat:after{font-family:FontAwesome;content:"\f105";display: table-cell;padding-left:10px;position: absolute;right: 15px;top: 50%;margin-top: -10px;vertical-align:middle;font-weight:400}
.nsm .collapse .parent_cat:after{content:"\f107"}
.nsm .parent_cat:before{font-family:FontAwesome;content:"\f147";display: table-cell;padding-right:10px;vertical-align:middle;font-weight:400}
.nsm .collapse .parent_cat:before{content:"\f196"}
.nsm .sub-menu li{display:inline-block;width: 100%;vertical-align: middle;padding:7px 15px;border-bottom: 1px solid #e6e6e6;}
.nsm .sub-menu li:before{font-family:FontAwesome;content:"\f105";display: table-cell;color: #666;vertical-align: middle;padding-left:3px;padding-right:13px;}
.nsm .sub-menu .sub_cat a{color: #666;display: table-cell}

.ncm .i a{display: table-cell;width: 100%;vertical-align: middle;padding:12px 15px;line-height:14px;font-weight:600}
.ncm .i:after{font-family:FontAwesome;content:"\f105 ";padding-left:10px;padding-right:10px;vertical-align:middle;display: table-cell;vertical-align: middle;font-weight:400}
.ncm .i:hover, .ncm .i a:hover{background:#269ffd;color:#fff}
.ncm .i.active, .ncm .i.active a{background:#269ffd;color:#fff}

.f_2{background-color: #f3f3f3;}
.f_2 .wrapper_block{background:#269ffd}
.f_2 .media{padding:0;align-items:center;margin:0 auto}
.f_2 .social_line{display:inline-block;margin-right:585px}
.f_2 .social_line > div{display:table-cell;vertical-align:middle}
.f_2 .social_line .item{display:inline-block;vertical-align:middle}
.f_2 .social_line i{padding:10px}
.f_2 .navbar-search{display:inline-block;padding:12px 5px 12px 0;width:300px;position:relative}
.f_2 input[type="search"]{width:100%;height:36px;border-radius:25px!important;-webkit-border-radius:25px!important;border:0;box-sizing:border-box;-webkit-box-sizing:border-box;font-weight:400;font-size:12px;color:#000;padding-left:12px;background-color:#fff;padding-right:40px}
.f_2 .search-button{position:absolute;top:15px;right:8px;cursor:pointer;z-index:3;width:102px;height:30px;padding:6px 8px;font-weight:600;font-size:12px;background:#269ffd;color:#fff;border-radius:50px}
.f_2 .navbar-search-title{font-size:16px;font-weight:600;margin-right:20px}
.f_2 .nav{margin:0 auto;padding:40px 0}
.f_2 .nav .row{width:100%;margin:0}
.f_2 .footer-logo{margin-bottom:20px;height:60px;max-width:270px;object-fit:contain}
.f_2 .phone{display:flex;margin-bottom:15px}
.f_2 .phone .img{width:30px;height:40px;text-align:center}
.f_2 .phone .img:before{color: #269ffd;font-family:FontAwesome;font-size:35px;line-height:40px;content:"\f095"}
.f_2 .phone.email .img:before{content:"\f0e0";font-size: 28px;}
.f_2 .phone .title{display:inline-block;margin-left:15px;font-size:16px;font-weight:500}
.f_2 .phone .title p{margin-bottom:0;font-size:12px;color:#888}
.f_2 .location{display:flex}
.f_2 .location .img{width:30px;height:40px;text-align:center}
.f_2 .location .img:before{color: #269ffd;font-family:FontAwesome;font-size:35px;line-height:40px;content:"\f041"}
.f_2 .location .title{display:inline-block;margin-left:15px;font-size:14px;font-weight:500}
.f_2 .location .title p{margin-bottom:0;font-size:12px;color:#888}
.f_2 .footer-nav{padding:0}
.f_2 .footer-nav .name{font-size:1rem;    font-weight: 600;margin-bottom:20px}
.f_2 .footer-nav ul{padding:0;    font-size: 16px;}
.f_2 .footer-nav li{list-style-type:none;font-weight:400}
.f_2 .footer-nav li a{color:#888}
.f_2 .category-line{background:#f4f4f4;padding:20px 0}
.f_2 .cat-items{margin:0 auto}
.f_2 .cat-items ul{display:inline-block;margin-bottom:0;padding:0}
.f_2 .cat-items li{list-style-type:none;padding:0 10px;margin:10px 0;line-height:14px;float:left;border-right:1px solid #d7d7d7;color:#666}
.f_2 .cat-items li:last-child{border-right:none}
.f_2 .copywriting{padding:20px 0}
.f_2 .copywriting .block{width: 100%;display:table}
.f_2 .copywriting .copy{font-size: 14px;color:#888;float:left}
.f_2 .copywriting .pay-card{float:right}
.f_2 .copywriting .pay-card ul{margin:0;padding:0}
.f_2 .copywriting li{list-style-type:none;float:left;font-size:25px;padding:0 5px;color:#269ffd}
@media screen and (max-width: 1000px) {
    .f_2 .social_line{margin-right:0}
    .f_2 .about{margin-bottom:40px}
}

.in_admin_edit{font-size: 14px;line-height: 14px;font-weight: 400;margin-top: 5px;}
.col-sm-4 {-webkit-box-flex: 0;-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;padding: 0 15px;}
.col-sm-8 {-webkit-box-flex: 0;-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;padding: 0 15px;}
@media screen and (max-width: 993px) {
    .col-sm-4 {-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;padding: 0 15px;}
    .col-sm-8 {-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
}
.i80f{width:80%;margin: 0 auto;}
@media screen and (min-width: 1400px) {  .i80f{max-width:1140px}  }
@media screen and (max-width: 1399px) {  .i80f{width: 100%;padding: 0 20px;}  }
@media screen and (max-width: 778px) {  .i80f{padding: 0 10px}  }
@media screen and (max-width: 490px) {  .i80f{padding: 0 5px}  }

.i80-n-b{margin: 0 auto;width: 80%}
@media screen and (min-width: 1400px) {  .i80-n-b{max-width:1140px}  }
@media screen and (max-width: 1399px) {  .i80-n-b{width: 100%;padding: 0 20px;}  }
@media screen and (max-width: 778px) {  .i80-n-b{padding: 0 10px}  }
@media screen and (max-width: 490px) {  .i80-n-b{padding: 0 5px}  }